
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html{
  background: url(./img/background.jpg) no-repeat center fixed;
  background-size: cover;
}


body {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    color: rgb(44, 43, 43);
    line-height: 1.6;
  }

  img {
      width: 100%;
    
  }

  /*Home*/
  #home {
      margin: 0;
      padding: 0;
      background-image: url("img/home.jpg");
      background-color: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      position: relative;
      overflow-y: hidden;
      color: rgb(44, 43, 43);
      
  }

  #home h1{
      font-size: 4rem;
      padding: 20vh;
  }


/* Sections */
.section {
  padding: 2rem 0 2rem 0;
    color: rgb(44, 43, 43);
}

.section img{
    width: 40%;
    height: auto;
}

h1{
  text-shadow: 3px 2px rgb(88, 88, 88);
}

.section h3{
    font-size: 1,3rem;
    text-align: center;
}

.section h2{
    font-size: 2rem;
    padding: 0;
    margin-top: 0;
    
    
}


  
/* Container */
.container{
    max-width: 1180px;
    text-align: center;
    margin: 0 auto;
    padding: 0 2rem 0 0;
    margin-top: 15vh;   
}

.container ul{
  list-style: none;
}

.container2{
  
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5,220px);
    padding-top: 2rem;
    margin: 0;
    
}

.container2 a:hover{
  text-decoration: underline;
  color: rgb(44, 43, 43);
  font-size: 105%;
  transition: 0.3s ease;
}

.container2 ul{
    list-style: none;
}

.container3{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
}

.container3 ul{
    list-style: none;
}

.container3 i{
  font-size: 40px;
  padding: 2rem;
}

a{
  cursor: pointer;
  color: rgb(44, 43, 43);
  text-decoration: none;
}

.container3 a:hover{
  text-decoration: underline;
  color: rgb(44, 43, 43);
  font-size: 105%;
  transition: 0.3s ease;
}


.head{
    text-transform: uppercase;
}

  /*Nav*/
  nav {
    height: 80px;
    width: 100%;
    background-color: whitesmoke;
    color: rgb(44, 43, 43);
    opacity: 0.9;
    position: fixed;
  }

  .navbar-brand{
    padding: 0;
    margin-right: 30px;
    float: right;
    cursor: default;
    width: 10%;
  
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline;
    float: left;
  }

 

  nav a {
    display: inline-block;
    width: 180px;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px;
    color:  rgb(44, 43, 43);
    font-size: 1.4rem;
  
  }
  
  a{
    position: relative;
  color: rgb(44, 43, 43);
  text-decoration: none;
  transition-duration: 0.3s;
  }

  #navbar a:hover{
    
    font-size: 120%;
  }

  #navbar a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 25px;
    left: 0;
    background-color: rgb(44, 43, 43);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  #navbar a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.9);
    transform: scaleX(0.9);
  }
  

 

  nav a#openup {
    display: none;
  }
  



  @media screen and (max-width: 580px) {
    .hide-on-small {
        display: none;
    }
    
    #home {
        height: 50vh;
    }

    #home .container{
        margin-top: 10vh;
    }

    #home h1{
        font-size: 2rem;
    }
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #333;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color: #333;
      width: 100%;
      position: relative;
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }